.top-bar {
  display: flex;
  justify-content: space-between;
}

.full-listing-page {
  margin: 0 auto;
  width: 90%;
}

.center-column {
  display: flex;
  justify-content: space-between;
  max-width: 1030px;
  margin: 0 auto;
}

.booking {
  position: sticky;
  top: 0;
  width: 40%;
  height: 400px;
}
.details {
  width: 60%;
}

.div-description-body {
  width: inherit !important;
  float: inherit !important;
}
/*
div {
  border: solid 1px green;
  padding: 1px;
  margin: 1px;
}
*/